
.m-auto{
    margin:auto;
/* text-align: center; */}
.btn{
    padding: 3px 9px 3px 9px;
    border-radius: 10px;
}
body{
    min-height:100vh;
}
a{
    text-decoration: none;
    color:black;
    
}
span{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    letter-spacing: 0.3rem;
    color:azure;
}
.max-width-1{
    max-width:100%;
}
.max-width-2{
    max-width:533px;
}
strong, p, h3{
    font-family: 'Saira Condensed', sans-serif;
font-size: larger;}

h1{
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    padding-top: 20px;
}
.article-btn{
    background: rgb(120, 236, 238);
    font-size:15px;
    color: black;
    padding: 8px 19px 8px 19px;
align-items: flex-end;}

h3{
    padding-bottom: 20px;
    color: rgb(1, 91, 94);
}